@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --main-color: #264653;
    --secondary-color: #E9C46A;
    --accent-color: #E76F51;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}


/* navigation starts here */

.head{
    background-color: var(--main-color);
}

.nav{
    width: 40%;
}

.nav__burger{
    width: 50px;
    padding: .5em;
    display: none;
}

.nav__burger:hover{
    cursor: pointer;
}

.nav__burger > div{
     height: .2rem;
     background-color: black;
     margin-top: .5em;
}

.nav__lists{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 1.2em;
      font-family: 'Bebas Neue';
      font-size: 1.2rem;
}

.nav__link{
    color: var(--secondary-color);
}

/* -- About starts here --*/

.about{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-align: center;
}

.about > img{
    max-width: 200px;
    height: auto;
}
.contact{
    color: var(--accent-color);
    background-color: var(--main-color);
    padding: 2.5rem;  
}

/* Utility */
.container{
    width: 100vw;
    max-width: 1300px;
    margin: 0 auto;
    padding-inline: 1.2rem;
}

/* For mobile users */
@media only screen and (max-width: 600px) {
   .nav{
        max-width: 50vw;
        justify-content: center;
        align-items: center;
        padding-block: 9px;
   }
    .nav__lists{
       position: absolute;
       top: 0;
       left: 0;
       width: 0;
       height: 100vh;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       background-color: #E76F51;
       transition: width 500ms;
       overflow: hidden;
   }
   .burger-open{
        width: 30vw;
   }
   .nav__list{
       margin-top: .5em;
   }
   .nav__burger{
       display: block;
   }
  }