@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --main-color: #264653;
    --secondary-color: #E9C46A;
    --accent-color: #E76F51;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section,nav, footer{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

section{
    font-family: Montserrat;
    padding-inline: 2rem;
    margin-top: 1.5rem;
}

li{
    list-style-type: none;
}

/* navigation starts here */

.navigation{
    
    padding: 1.5rem 60% 1.5rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--main-color);
    color: var(--secondary-color);

    font-family: 'Bebas Neue';
    font-size: 1.5rem;

}

.navigation > li{
    cursor: pointer;
}

/* -- About starts here --*/

.about{
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    text-align: center;
}
.about > img{
    max-width: 200px;
    height: auto;
}
.contact{
    color: var(--accent-color);
    background-color: var(--main-color);

    padding: 2.5rem;
  
}

/* About styles starts here */
