@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.icon{
    width: 30x;
    height: 40px;
}

.icon-mask{
    mask: url('./assets/postman.svg');
    mask-repeat: no-repeat;
    mask-size: 'auto';
    width: 24x;
    height: 24px;
}
